# 1Password
op/config

# Git
git/gitconfig.local.symlink

# HTTPie
httpie/

# Vim
.netrwhist
vim/vim.symlink/backups/
vim/vim.symlink/bundle/
!vim/vim.symlink/bundle/repos/github.com/Shougo/dein.vim/
vim/vim.symlink/plugged/
