[submodule "vim/vim.symlink/bundle/repos/github.com/Shougo/dein.vim"]
	path = vim/vim.symlink/bundle/repos/github.com/Shougo/dein.vim
	url = git@github.com:Shougo/dein.vim.git
    branch = master
[submodule "modules/githooks"]
	path = modules/githooks
	url = git@github.com:defrank/githooks.git
